node_modules/


.env
.env.*
!.env.example


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
out/
.next/
.nuxt/
coverage/


.DS_Store
Thumbs.db
ehthumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/prisma/generated-client
/lib/generated