:host {
  display: block;
  width: 100%;
}

.tab-buttons {
  width: 100%;
  border-bottom: 1px solid var(--border-light);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px 8px;
}
